<figure class="text-center">
    <blockquote class="blockquote">
      <strong>
        <p style="font-size: 24px; color: rgb(117, 25, 5)">2024 SSG Elections</p>
      </strong>
    </blockquote>
</figure>

<div *ngIf="(status?.isElectionStart) === false" class="text-center"> 
  <blockquote class="blockquote">
    <strong>
      <p style="font-size: 24px; color: rgb(162, 37, 9)" class="p-310">No Ongoing Election</p>
    </strong>
  </blockquote>
</div>

<div *ngIf="!user?.FingerprintAuth && !user?.Voted" class="text-center"> 
  <blockquote class="blockquote">
    <strong>
      <p style="font-size: 24px; color: rgb(162, 37, 9)" class="p-310">Login With Fingerprint to Vote</p>
    </strong>
  </blockquote>
</div>

<div *ngIf="user?.Voted" class="text-center"> 
  <blockquote class="blockquote">
    <strong>
      <p style="font-size: 24px; color: rgb(162, 37, 9)" class="p-310">You Already Voted</p>
    </strong>
  </blockquote>
</div>

<div *ngIf="user?.Voted" class="text-center"> 
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header class="bg-dark text-white">Your Vote</c-card-header>
        <c-card-body>
    
            <c-row class="justify-content-center text-center">
              <c-col *ngFor="let vote of positionsArray; let i = index" sm="4" xl="4">
                <c-widget-stat-d
                  color= {{vote.data.color}}
                  [style]="{ '--cui-card-cap-bg': '#3b5998' }"
                  [values]="[{ title: vote.data.PartyList, value: vote.data.Fullname }]"
                  class="mb-4"
                >
                  <img [src]=vote.data.Profile alt="Brand Image" height="150" class="my-4 text-white">
                </c-widget-stat-d>
                <blockquote class="blockquote">
                  <strong>
                    <p style="font-size: 18px; color: rgb(162, 37, 9)" class="p-310">{{vote.position}}</p>
                  </strong>
                </blockquote>
              </c-col>
            </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>


<div *ngIf="((status?.isElectionStart)  === true) && !user?.Voted && user?.FingerprintAuth">
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="bg-dark text-white">President</c-card-header>
      <c-card-body>
        <form [formGroup]="PresidentVote">      
          <c-row class="justify-content-center text-center">
            <c-col *ngFor="let widget of candidateElectionPresident; let i = index" sm="4" xl="4">
              <c-widget-stat-d
                [color]="widget.color"
                [style]="widget.capBg"
                [values]="widget.values"
                class="mb-4"
              >
                <img [src]="widget.imageUrl" alt="Brand Image" height="150" class="my-4 text-white">

              </c-widget-stat-d>
              <input
                class="btn-check"
                formControlName="PresidentVoteID"
                type="radio"
                [value]="widget.id"
              />
              <label
                (click)="setPresidentVoteValue(widget.id, widget.Fullname, widget.PartyList, widget.color, widget.imageUrl)"
                cButton
                cFormCheckLabel
                variant="outline"
              >
                Vote <!-- Display Fullname as label text -->
              </label>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="bg-dark text-white">Vice-President</c-card-header>
      <c-card-body>
        <form [formGroup]="VicePresidentVote">      
          <c-row class="justify-content-center text-center">
            <c-col *ngFor="let widget of candidateElectionVicePresident; let i = index" sm="4" xl="4">
              <c-widget-stat-d
                [color]="widget.color"
                [style]="widget.capBg"
                [values]="widget.values"
                class="mb-4"
              >
                <img [src]="widget.imageUrl" alt="Brand Image" height="150" class="my-4 text-white">

              </c-widget-stat-d>
              <input
                class="btn-check"
                formControlName="VicePresidentVoteID"
                type="radio"
                [value]="widget.id"
              />
              <label
                (click)="setVicePresidentVoteValue(widget.id, widget.Fullname, widget.PartyList, widget.color, widget.imageUrl)"
                cButton
                cFormCheckLabel
                variant="outline"
              >
                Vote <!-- Display Fullname as label text -->
              </label>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="bg-dark text-white">Secretary</c-card-header>
      <c-card-body>
        <form [formGroup]="SecretaryVote">      
          <c-row class="justify-content-center text-center">
            <c-col *ngFor="let widget of candidateElectionSecretary; let i = index" sm="4" xl="4">
              <c-widget-stat-d
                [color]="widget.color"
                [style]="widget.capBg"
                [values]="widget.values"
                class="mb-4"
              >
                <img [src]="widget.imageUrl" alt="Brand Image" height="150" class="my-4 text-white">

              </c-widget-stat-d>
              <input
                class="btn-check"
                formControlName="SecretaryVoteID"
                type="radio"
                [value]="widget.id"
              />
              <label
                (click)="setSecretaryVoteValue(widget.id, widget.Fullname, widget.PartyList, widget.color, widget.imageUrl)"
                cButton
                cFormCheckLabel
                variant="outline"
              >
                Vote <!-- Display Fullname as label text -->
              </label>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="bg-dark text-white">Treasurer</c-card-header>
      <c-card-body>
        <form [formGroup]="TreasurerVote">      
          <c-row class="justify-content-center text-center">
            <c-col *ngFor="let widget of candidateElectionTreasurer; let i = index" sm="4" xl="4">
              <c-widget-stat-d
                [color]="widget.color"
                [style]="widget.capBg"
                [values]="widget.values"
                class="mb-4"
              >
                <img [src]="widget.imageUrl" alt="Brand Image" height="150" class="my-4 text-white">

              </c-widget-stat-d>
              <input
                class="btn-check"
                formControlName="TreasurerVoteID"
                type="radio"
                [value]="widget.id"
              />
              <label
                (click)="setTreasurerVoteValue(widget.id, widget.Fullname, widget.PartyList, widget.color, widget.imageUrl)"
                cButton
                cFormCheckLabel
                variant="outline"
              >
                Vote <!-- Display Fullname as label text -->
              </label>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="bg-dark text-white">Auditor</c-card-header>
      <c-card-body>
        <form [formGroup]="AuditorVote">      
          <c-row class="justify-content-center text-center">
            <c-col *ngFor="let widget of candidateElectionAuditor; let i = index" sm="4" xl="4">
              <c-widget-stat-d
                [color]="widget.color"
                [style]="widget.capBg"
                [values]="widget.values"
                class="mb-4"
              >
                <img [src]="widget.imageUrl" alt="Brand Image" height="150" class="my-4 text-white">

              </c-widget-stat-d>
              <input
                class="btn-check"
                formControlName="AuditorVoteID"
                type="radio"
                [value]="widget.id"
              />
              <label
                (click)="setAuditorVoteValue(widget.id, widget.Fullname, widget.PartyList, widget.color, widget.imageUrl)"
                cButton
                cFormCheckLabel
                variant="outline"
              >
                Vote <!-- Display Fullname as label text -->
              </label>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="bg-dark text-white">CPE Representative</c-card-header>
      <c-card-body>
        <form [formGroup]="CPERepresentativeVote">      
          <c-row class="justify-content-center text-center">
            <c-col *ngFor="let widget of candidateElectionCPERepresentative; let i = index" sm="4" xl="4">
              <c-widget-stat-d
                [color]="widget.color"
                [style]="widget.capBg"
                [values]="widget.values"
                class="mb-4"
              >
                <img [src]="widget.imageUrl" alt="Brand Image" height="150" class="my-4 text-white">

              </c-widget-stat-d>
              <input
                class="btn-check"
                formControlName="CPERepresentativeVoteID"
                type="radio"
                [value]="widget.id"
              />
              <label
                (click)="setCPERepresentativeVoteValue(widget.id, widget.Fullname, widget.PartyList, widget.color, widget.imageUrl)"
                cButton
                cFormCheckLabel
                variant="outline"
              >
                Vote <!-- Display Fullname as label text -->
              </label>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<div class="d-grid gap-2 col-6 mx-auto p-3">
  <button cButton color="primary" (click)="submitVoteResult()" variant="outline" >Submit Vote</button>
</div>

</div>