
<ng-container *ngTemplateOutlet="liveDemo"></ng-container>

<ng-template #liveDemo>
  <button (click)="toggleLiveDemo()" cButton>Launch demo modal</button>
  <c-modal id="liveDemoModal" [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Confirm</h5>
      <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Do You Really Want to Remove this Candidate?</c-modal-body>
    <c-modal-footer>
      <button cButton color="primary">Yes</button>
    </c-modal-footer>
  </c-modal>
</ng-template>
