
  <c-row class="justify-content-center">
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Pie Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Bar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Bar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Bar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Bar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Bar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Bar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>