<c-row class="justify-content-center">
  <c-col xs="12">
    <c-col class="mb-4" xs="12">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for ID Number or Name..." [(ngModel)]="searchQuery" (input)="performSearch()">
            <button class="btn btn-outline-secondary" type="button" (click)="performSearch()">Search</button>
          </div>
        </div>
      </div>
    </c-col>
  </c-col>
</c-row>

<div *ngIf="filteredUser.length > 0; else noUsersTemplate">
<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header class="bg-dark text-white">Users</c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="dark">
              <tr>
                <th class="text-center">
                  ID
                </th>
                <th class="text-center">Name</th>
                <th class="text-center">Fingerprint</th>
                <th>Voted</th>
                <th>Admin</th>
                <th>Manage</th>
                <th>Privilege</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of filteredUser; index as i">
                <td class="text-center">
                  <!-- <c-avatar
                    size="md"
                    src="{{ user.avatar }}"
                    status="{{ user.status }}"
                  ></c-avatar> -->
                  {{ user.id }}
                </td>
                <td>
                  <div class="text-center">{{ user.Fullname }}</div>
                  <div class="small text-medium-emphasis text-nowrap text-center">
                    <span>
                      {{ user.Department }} - {{ user.Year }} 
                    </span>
                  </div>
                </td>
                <td class="text-center" *ngIf="!user.FingerprintRegistered">
                  <button style="margin-right: 5px;" cButton color="info" routerLink="{{user.id}}/fingerprint">Upload</button>
                </td>
                <td class="text-center text-success" *ngIf="user.FingerprintRegistered">
                  Saved
              </td>
                <td>
                  {{ user.Voted }}
                </td>
                <td>
                  {{ user.isAdmin }}
                </td>
                <td>
                  <button cButton color="danger" (click)="deleteUser(user.id)">Delete</button>
                </td>
                <td>
                  <button *ngIf="!user.isAdmin"  style="margin-right: 5px;" cButton color="info" (click)="setUserAdmin(user)">Set Admin</button> 
                  <button *ngIf="user.isAdmin"  cButton color="danger" (click)="demoteUser(user)">Demote to User</button>
                </td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
<ng-template #noUsersTemplate>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="bg-dark text-white">Users</c-card-header>
      <c-card-body class="text-center">
        <blockquote class="blockquote">
          <strong>
            <p style="font-size: 24px; color: rgb(162, 37, 9)" class="p-310">No Users Found</p>
          </strong>
        </blockquote>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
</ng-template>